<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《{$GAME_ZH_NAME}》管理后台</title>
<style type="text/css">
body {
scrollbar-base-color:#C0D586;
scrollbar-arrow-color:#FFFFFF;
scrollbar-shadow-color:DEEFC6
}
</style>
</head>
<frameset rows="70,*"  frameborder="no" cols="*" border="0" framespacing="0">
    <frame noresize="noresize" id="top_frame" src="/module/top.php" scrolling="no"></frame>
    <frameset cols="180, *" rows="*"  frameborder="no" border="0" framespacing="0">
        <frame noresize="noresize" id="left_frame" name="left_frame" src="/module/left.php" scrolling="yes"></frame>
        <frame name="main_frame" name="main_frame" id="main_frame" src="/module/main.php" scrolling="yes"></frame>
	</frameset>
    <noframes>
        <body>你的浏览器不支持框架！</body>
    </noframes>

</frameset>
</html>
