<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$GAME_ZH_NAME}</title>
<style type="text/css">
body {font-size:14px; font-family:"Courier New", Courier, monospace; text-align:center; margin:auto;}
#all {text-align:left;margin-left:4px;}
#nodes {width:100%; float:left;border:1px #ccc solid;}
#result {width: 100%; height:100%; clear:both; border:1px #ccc solid;}

</style>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>

<body>
	<table width="100%"  border="0" cellpadding="4" cellspacing="1" bgcolor="#A5D0F1">
        <tr bgcolor="#E5F9FF"> 
        	<td colspan="2" background="/static/images/wbg.gif"><font color="#666600" class="STYLE2"><b>◆信息提示</b></font></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td width="100%"><a href="<{$url}>"><{$info}></a></td>
        </tr>
      </table>
</body>
</html>
